<h3>Answers</h3>

<div *ngIf="question && answers">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Text</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="answers.length === 0">
                <td class="text-center" colspan="3">
                    This question has no answers
                </td>
            </tr>
            <tr *ngFor="let answer of answers; let i = index;">
                <td>{{answer.text}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn-blue" (click)="onAnswerEdit(answer)"><fa-icon [icon]="faEdit"></fa-icon> Edit</button>
                        <button class="btn-red" (click)="onAnswerDelete(answer)"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn-blue" (click)="onAnswerCreate()"><fa-icon [icon]="faPlus"></fa-icon> Create new answer</button>
    </div>
</div>