<div class="login-form-container" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="text-center">Change password</h1>
    
        <p>Please insert your old and new passwords</p>
    
        <div class="control-container">
            <label class="floating-label">
                <input type="password" class="form-control" placeholder=" " formControlName="oldPassword" [ngClass]="{'error': hasError('oldPassword')}" required>
                <span>Old password</span>
            </label>
            <p *ngIf="state === 'error'" class="error-message">Wrong password!</p>
        </div>

        <div class="control-container">
            <label class="floating-label">
                <input type="password" class="form-control" placeholder=" " formControlName="newPassword" [ngClass]="{'error': hasError('newPassword')}">
                <span>New password</span>
            </label>
            <p *ngIf="hasError('newPassword')" class="error-message">The password has to be at least 6 characters long.</p>
        </div>

        <div class="control-container">
            <label class="floating-label">
                <input type="password" class="form-control" placeholder=" " formControlName="confirmPassword" [ngClass]="{'error': hasError('confirmPassword')}">
                <span>Confirm new password</span>
            </label>
            <p *ngIf="hasError('confirmPassword')" class="error-message">The passwords don't match.</p>
        </div>
    
        <button [ngClass]="state === 'success' ? 'btn-green' : 'btn-blue'" type="submit" [disabled]="!form.valid || state !== 'stand-by'">
            {{getButtonText()}}
        </button>
    </form>
</div>