@font-face {
    font-family: LatoSans;
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: bold;
    font-style: normal;
    src: url('./assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: bolder;
    font-style: normal;
    src: url('./assets/fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: lighter;
    font-style: normal;
    src: url('./assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: normal;
    font-style: italic;
    src: url('./assets/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: bold;
    font-style: italic;
    src: url('./assets/fonts/Lato/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: bolder;
    font-style: italic;
    src: url('./assets/fonts/Lato/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: LatoSans;
    font-weight: lighter;
    font-style: italic;
    src: url('./assets/fonts/Lato/Lato-LightItalic.ttf');
}